<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>旋转木马效果</title>
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
 	<div class="content">  
	    <div class="list">  
	        <ul>  
	            <li class="p5"><a href="#"><img src="images/lun1.jpg" alt=""></a></li>  
	            <li class="p4"><a href="#"><img src="images/lun2_2.jpg" alt=""></a></li>  
	            <li class="p3"><a href="#"><img src="images/lun4.jpg" alt=""></a></li>  
	            <li class="p1"><a href="#"><img src="images/lun1.jpg" alt=""></a></li>  
	            <li class="p2"><a href="#"><img src="images/lun2_2.jpg" alt=""></a></li>  
	        </ul>  
	        <a href="javascript:;" class="pre button"><</a>  
	        <a href="javascript:;" class="next button">></a>  
	    </div>  
	  
	  
	    <!--下面的横线按钮-->  
	    <div class="buttons">  
	        <a href="javascript:;"><span class="blue"></span></a>  
	        <a href="javascript:;"><span></span></a>  
	        <a href="javascript:;"><span></span></a>  
	        <a href="javascript:;"><span></span></a>  
	        <a href="javascript:;"><span></span></a>  
	  
	    </div>  
	</div>  
	<script src="js/jquery.js"></script>  
	<script src="js/imagePlayer.js"></script>  
</body>
</html>