<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>应用AngularJS对梁月季的个人站点进行重构</title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	
</head>
<body ng-app="routingDemoApp" ng-controller="myCtrl">
	<!--固定到顶部，颜色取反向颜色，黑色-->
  <div class="top-banner navbar-inverse">
      <div class="container">
          <a class="brand brand-text" href="index.html" title="梁月季的个人站点" rel="home">
            <h2>梁月季的个人站点                            
              <small>记录我的代码点滴</small>
            </h2>
          </a>
      </div>
    </div>
  </div>

  <!-- start navigation -->
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="menu">
                            <li  ng-class="{true:'nav-current',false:''}[currentIndex==0]" ng-click="click(0)" role="presentation"><a href="#/">小项目</a></li>
                            <li ng-class="{true:'nav-current',false:''}[currentIndex==1]" ng-click="click(1)" role="presentation"><a href="#/anim">CSS3动画</a></li>
                            <li ng-class="{true:'nav-current',false:''}[currentIndex==2]" ng-click="click(2)" role="presentation"><a href="#/comps">组建</a></li>
                            <li ng-class="{true:'nav-current',false:''}[currentIndex==3]" ng-click="click(3)" role="presentation"><a href="#/js">AngularJS</a></li>
                        </ul>   
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->

     <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <!-- 主要内容 -->
                <main class="col-md-8 main-content" ng-view>
                   
                </main>

                <!-- 侧边栏 -->
                <aside class="col-md-4 sidebar">
                  <!-- start tag cloud widget -->
                  <div class="widget">
                    <h4 class="title">联系方式</h4>
                    <div class="content community">
                      <p>邮箱、电话</p>
                      <p><a href="javascript:;" title="邮箱地址" target="_blank">
                        <i class="glyphicon glyphicon-envelope"></i> &nbsp;&nbsp;yueji_me@163.com</a>
                      </p>
                      <p><a href="javascript:;" title="电话号码" target="_blank">
                        <i class="glyphicon glyphicon-phone"></i> &nbsp;&nbsp;136 9146 6131</a>
                      </p>
                    </div>
                  </div>
                  <!-- end tag cloud widget --> 
                  <!-- start tag cloud widget -->
                    <div class="widget">
                      <h4 class="title">标签云</h4>
                      <div class="content tag-cloud">
                        <a href="">程序员</a>
                        <a href="">前端</a>
                        <a href="">jQuery</a>
                        <a href="">Bootstrap</a>
                        <a href="">响应式布局</a>
                        <a href="">Node.js</a>
                        <a href="">AngularJS</a>
                        <a href="">导航条</a>
                        <a href="">轮播图</a>
                        <a href="">自定义动画</a>
                        <a href="">静态页面</a>
                        <a href="http://www.lofter.com/blog/yuejihuakai888?act=dashboardclick_20130514_04" target="_blank">业余绘画</a>
                        <a href="">...</a>
                      </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
	<script src="../../js/jquery-1.12.4.min.js"></script> 
    <script src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<!-- Include the ui-router script -->
  	<!-- <script src="js/angular-ui-router.min.js"></script> -->
	<script src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/app.js"></script>	
</body>
</html>